@import '../../index.scss';

.wizard-wrapper {
    width: 75rem;
    min-height: 35rem;
    margin: 0px auto auto;
    padding: 2rem;
    border: 1px solid $grey;
    border-radius: .5rem;
    background-color: $white;
    color: $black;
}

.steps-wrapper {
    display: flex;
    align-items: baseline;
    padding: 4rem 0px;
}

.step-circle {
    display: inline-block;
    margin: 1rem;
    position: relative;

    &__circle {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $light-grey;
        color: $grey;
        margin-bottom: .5rem;
        font-size: 2rem;
        &--enabled {
            background-color: $black;
            color: $white;
        }
    }

    &__name {
        font-size: 1.3rem;
        &--transformed {
        position: absolute;
        transform: translateX(-18%);
        }
    }

}

.step-line {
    width: 20%;
    height: 1px;
    background-color: $grey;
    border: .5px solid $grey;
    position: relative;
    top: -4px;
}

.genre-or-sub {
    display: flex;
    flex-wrap: wrap;

    &__item {
        min-width: 12rem;
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
        border: .5px solid $black;
        border-radius: .7rem;
        display: inline-block;
        margin: 1rem;
        cursor: pointer;

        &:hover {
            background-color: $light-grey;
        }
    }
}

.navigation {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    &__inner-wrapper {
        display: flex;
    }
    &__item-wrapper {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        font-size: 1.5rem;
        border: .5px solid $black;
        border-radius: .7rem;
        margin: 1rem;
        cursor: pointer;
    }
    &__item-wrapper--hover {
        &:hover {
            background-color: $black;
            color: $white;
            a{

                color: $white;
            }
        }
    }
}

.new-subgenre {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    &__name {
        height: 3rem;
        border-radius: .5rem;
        border: 1.5px solid $grey;
        margin-bottom: 1rem;
        padding: 1rem;
        &::placeholder {
            color: $grey;
          }
    }
    &__description {
        height: 7rem;
        border-radius: .5rem;
        border: 1.5px solid $grey;
        resize: none;
        margin-bottom: 3rem;
        padding: 1rem;
        &::placeholder {
            color: $grey;
          }
    }
    &__label {
        display:  flex;
    }
    &__required {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
}

.active {
    background-color: $black;
    color: $white;
}

.disabled {
    border: 1px solid $grey;
    background-color: $light-grey;
    color: $grey;
    a {
        color: $grey;
    }
}