@import '../index.scss';

.fifth-step {
    text-align: center;
    padding: 5rem;

    &__checked {
        font-size: 15rem;
        color:$light-grey;
        margin-bottom: 2rem;
    }

    &__text {
        color: $black;
        font-weight: 700;
        margin-bottom: 5rem;
    }

    &__btn {
        width: 60%;
        display: inline-block;
        margin: 0 auto;
        background-color: $black;
        color: $white;
        padding: 1rem 0px;
        border-radius: .5rem;
    }
}