@import '../../index.scss';

.book-info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    &__input {
        display: block;
        height: 3.8rem;
        border-radius: .5rem;
        border: 1.5px solid $grey;
        margin: 1rem 0px;
        padding: 1rem;
        
        &::placeholder {
            color: $grey;
          }
        &--full-width {
            width: 100%;
        }
        &--margin-right {
            margin-right: 2rem;
        }
    }
    &__edition {
        display: flex;
    }
    &__description {
        height: 7rem;
        border-radius: .5rem;
        border: 1.5px solid $grey;
        resize: none;
        margin-bottom: 3rem;
        padding: 1rem;
    }
}