// Variables 
$white: #fff;
$black: #515b60;
$background-black:#1f2a34;
$light-grey: #e7ecf2;
$grey: #d0d0d0;

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-black;
}

#root {
  height: 100vh;
  display: flex;
  margin: 7rem 0px;
}

a {
  text-decoration: none;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

